
.noteCard{
    border: 1px solid #BFB8AD;
    padding: 10px;
    margin-right: 10px;
    background-color: #BFB8AD;
  
}

.noteCard  h2 {
    font-size: 18px;
}

.noteCard a {
    text-decoration: none;
    color: black;
}

.noteInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.noteInfo span {
    font-size: 12px;
}