
.notesList{

    margin: 0;
    padding: 0;
}
.notesList li {
    list-style: none;
    padding: 10px;
}

.addNotes {
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.addNotes span {
    font-size: 18px;
   padding-top: 5px;
   color: black;
}

.addNotes  img{
    width: 45px;
    padding: 0;
    margin: 0;
}

