.App {
  display: flex;
  flex-direction: column;
}
 .Main {
   display: flex;
   flex-direction: row;
 }

 nav {
  flex: 1;
  border: 1px solid black;
 }

 section {
   flex: 2;
  border: 1px solid black;
 }