.App {
  display: flex;
  flex-direction: column;
}
 .Main {
   display: flex;
   flex-direction: row;
 }

 nav {
  flex: 1;
  padding: 0;
 }

 section {
  flex-grow: 2;
  background-color: #EADEDA;
  padding: 0px;
 }

 @media only screen and (min-width: 900px) {
 .App {
   padding: 0 30% ;
 }
}